.Rhistory
.git
Compiled_data_v9/
Data/
Model_fits_v9/
Model_fits_v1/INLA_spat_Coeligena_lutetiae_fits_not_thin_not_thin_PA_quad_n_20000_wa_inla.RData
Model_fits_v1/INLA_spat_Coeligena_lutetiae_fits_not_thin_not_thin_PA_quad_n_20000_wa_inla.RData
Model_fits_v1/INLA_spat_samp_Ensifera_ensifera_fits_not_thin_not_thin_PA_quad_n_20000_wa_inla.RData
Model_fits_v1/INLA_spat_samp_Ensifera_ensifera_fits_not_thin_not_thin_PA_quad_n_20000_wa_inla.RData
Notes/
R/Current_scripts/
R/Old_manuscript_scripts/
R/Old_scripts/
.Rproj.user
